*{
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url( background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.navbar_container {
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    
}
.main_content {
    width: 100vw;
    height: 100vh;
 
    display: flex;
    
    
}
.left {
    width: 50%;
    height: 400px;
   
}
.right {
    width: 50%;
    height: 200px;
   
}
.linie {
    width: 500px;
    max-width: 50px;
    overflow: visible;
    z-index:2;
     margin-left: 20%;
}
.linie hr {
    margin-left: 20px;
    width: 500px;
}
.meniu  li {
    float: left;
    margin-left: 30px;
    margin-top: 15px;
}
.meniu ul {
   margin: top 20px;
    list-style: none;
}
.meniu a {
    color: aliceblue;
}

.meniu{
    background: rgba (255, 255, 255, 0.04 );
    backdrop-filter: blur(60.774227142333984px);
    height: 50px;
    margin-left: 450px;
}
.meniu div:hover {
    height: 25px;
    border-bottom: 1 px solid aliceblue;
}

.left {
    
width: 50%;
height: 382px;
margin-top: 350px;
}
.left ul {
    list-style: none;
}
.mare {

height: 172px;
left: 0%;
right: 1.11%;
top: calc(50% - 172px/2 - 47px);

font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 150px;
line-height: 172px;
color: #FFFFFF;
margin-left: 150px;
}

.mare1 {
    margin-left: 150px;
    height: 34px;
    left: 0.11%;
    right: 15.67%;
    top: calc(50% - 34px/2 - 174px);
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #D0D6F9;
}

.mare2 {
    width: 480px;
    height: 128px;
    left: 0.11%;
    right: 1.22%;
    top: calc(50% - 128px/2 + 127px);
    margin-left: 150px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    
}


.right {
    margin-top: 500px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    color: #0B0D17;
    
}

.right div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
}


@media screen and (max-width:850px) {
    body {
        background-image: url(background-home-tablet.jpg);
    }
    .logo {
        margin-left: 30px;
    }
    .navbar_container {
        margin-top: 20px;
    }
    .linie {
        width: 50px;

    }
    .linie hr {
        width: 0px;
    }
    .meniu {
        margin-left: 80px;
        margin-top: 10px;
    }
    .main_content {
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;

    }
    .left {
        width: 100vw;

        margin-top: 0;
        margin-inline: auto;
       text-align: center;
    }
    .right {
        margin-top: 0;
        width: 100%;
        margin-top: 200px;
    }
    .right div {
    
        margin-left: 0;
        margin-inline: auto;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .mare1 {
        margin-top: 100px;
        font-size: 15px;
        margin-left: 70px;
        white-space: nowrap;
        
    }
    .mare2 {
        margin-top:20px ;
        margin-left: 200px;
        text-align: center;
        
    }
    .mare {
        margin-left: 35px;
        color: #FFF;

        font-family: Bellefair;
        font-size: 150px;
        font-style: normal;
        font-weight: 400;
        line-height: 150px;
    }


}
@media screen and (max-width:400px) {
    *{
        margin: 0;
        padding: 0;
    }
    body {
        background-image:url(background-home-mobile.jpg);
    }
    .main {
        width: 100vw;
        height: 100vh;
    }
    .linie {
        width: 0px;
    }
    .linie hr {
        width: 0;
    }
    .meniu {
        width: 20px;
        display: flex;
        flex-direction:column;
        margin-left: 150px;
    }
    .butoane_linie {
        margin-top: 0;
    }
    .meniu_nav_1 {
        display: none;
    }
    .butoane_nav {
        width: 30px;
        height: 3px;
        background-color:white;
        margin-top: 8px;
        margin-left: 10px;
       
     }
    .main_content {
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;

    }
    .left {
        margin-top: 0;
        margin-inline: auto;
    }
    
    .mare1 {
        margin-top: 50px;
        font-size: 14px;
        text-align: center;
        margin-left: 10px;
    }
    .mare {
        font-size: 80px;
        margin-left: 10px;

    }
    .mare2 {
        margin-top:15px ;
        margin-left: 10px;
        text-align: center;
        font-size: 15px;
        width: 360px;
    
}

.right {
        margin-top: 0;
        width: 100%;
        margin-top: 50px;
    }
    .right div {
        width: 150px;
        height: 150px;
        margin-left: 0;
        margin-inline: auto;
        margin-top: 50px;
    }
    .right a {
        font-size: 20px;
    }
 }













