* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url(background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.navbar_container {
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.main_content {
    width: 100vw;
    height: 90vh;
    display: flex;
    /* margin-left: 150px;
    padding-left: 20px; */

}

.linie {
    width: 500px;
    max-width: 50px;
    overflow: visible;
    z-index: 2;
    margin-left: 20%;
}
.linie hr {
    margin-left: 20px;
    width: 500px;
}
.meniu li {
    float: left;
    margin-left: 30px;
}
.meniu ul {
    margin-top: 20px;
    list-style: none;
}
.meniu a {
    color: aliceblue;
}
.meniu {
    background: rgb(255, 255, 255, 0.04);
    backdrop-filter: blur(60.774227142333984px);
    height: 50px;
    margin-left: 450px;
}
.meniu2 {
    background: rgb(255, 255, 255, 0.04);
    backdrop-filter: blur(60.774227142333984px);
    height: 50px;
}
.meniu2 li {
    float: left;
    margin-left: 30px;
}
.meniu2 ul {
    margin-top: 20px;
    list-style: none;
}
.meniu2 a {
    color: aliceblue;
}
.meniu2 .batens div:hover {
     height: 25px;
    border-bottom: 1px solid aliceblue;
}
.meniu div:hover {
    height: 25px;
    border-bottom: 1px solid aliceblue;
}
.left {
    width: 50%;
margin-left: 300px;
    margin-top: 350px;
}
.right {
    width: 50%;
    margin-top: 150;

}
.randul1 {
    list-style: none;
    margin-left: 350px;
    margin-top: 200px;
    font-size: 25px;
    color: white;
}
.right img {
    margin-left: 380px;
    margin-top: 130px;
}
.europa {
    margin-top: 50px;
    color: white;
    font-family: Bellefair;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.randul5 {
    color: white;
    margin-top: 20px;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.avg {
    color: aliceblue;
    margin-top: 20px;
}
.textavg {
    width: 50%;
    display: flex;
    flex-direction: column;
    

}
.mil {
    margin-top: 10px;
    color: white;
    font-family: Bellefair;
     font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.est {
    margin-top:20px ;
    color: white;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
}
.travel {
    margin-top: 10px;
    color: white;
    font-family: Bellefair;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.distans {
    display: flex;
    flex-direction: row;
}


.esttravel {
    margin-left: 20px;
}
@media screen and (max-width:850px) {
    body {
        background-image: url(background-destination-tablet.jpg);
    }
    .navbar_container {
        margin-top: 20px;
    }
    .linie {
        width:50px;
    }
    .linie hr {
        width: 0;
    }
    .meniu {
        margin-left: 80px;
        margin-top: 10px;
    }
    .main_content {
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
    }
    .left {
        margin-top: 0;
        margin-inline: auto;
    }
    .randul1 {
        margin: 0;
        padding: 25px;
        font-size: 18px;
        font-family: Barlow Condensed;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.375px;
        
    }
    .main_content img {
        margin-left: 150px;
    }
    .europa {
        font-size: 80px;
        text-align: center;
        margin-left:50px ;
    }
    .randul5 {
        width: 400px;
        height: 50px;
        color:white;
        text-align: center;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        line-height: 25px;
    }
    .avgdistans {
        margin-top: 20px;
        width: 200px;
    }
    .avg2 {
        width: 200px;
        height: 20px;
    }
    .avg {
        margin-left: 30px;
    }
    .mil2 {
        width: 200px;
        height: 20px;
    }
    .esttravel {
        width: 200px;
        margin-top: 20px;
        margin-left: 90px;
    }
    .est2 {
        width: 200px;
        height: 20px;
    }
    .travel2 {
        width: 200px;
        height: 20px;
    }
    .travel {
        margin-left: 30px;
    }

}