*{
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url(background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.navbar_container {
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.main_content {
    width: 100vw;
    height: 90vh;
    display: flex;
    margin-left: 150px;
    padding-left: 20px;
}
.linie {
    width: 500px;
    max-width: 50px;
    overflow: visible;
    z-index: 2;
    margin-left: 20%;
}
.linie hr {
    margin-left: 20px;
    width: 500px;
}
.meniu li {
    float: left;
    margin-left: 30px;
}
.meniu ul {
    margin: top 20px;
    list-style: none;
}
.meniu a {
    color: aliceblue;
}
.meniu {
    background: rgba ( 255, 255 255 0.04);
    backdrop-filter: blur(60.774227142333984px);
    height: 50px;
    margin-left: 450px;
}
.meniu div:hover {
    height: 25px;
    border-bottom: 1px solid aliceblue;
}
.left {
width: 50%;
height: 150px;
margin-left: 150px;
margin-top: 140px;



}

.right {
    width: 50%;
    color: aliceblue;
    margin-right: 0px;
    
}
.right ul {
    list-style: none;
}
.randul1 {
    margin-top: 200px;
    width: 400px;
    height: 30px;
    left: 40%;
    right: 1.4%;
    font-style: normal;
    font-family: 'Barlow Condensed';
    font-size: 28px;
    font-weight: 400px;
    line-height: 34px;
    letter-spacing: 4px;
}
.randul2 {
    width: 400px;
    margin-top: 150px;
    height: 34px;
    margin-left: 0;
    font-size: 25px;
    font-family: 'Barlow Condensed';
    line: height 34px;
}
.randul3 {
    width: 400px;
    margin-top: 10px;
    font-family: barlow;
    font-size: 40px;
    line-height: 30px;
}
.randul4 {
    width: 400px;
    margin-top: 25px;
    font-family: barlow;
    
}
.meniu_butoane{
    
    width: 250px;
    height: 200px;
}



.butoane {
    display: flex;
    flex-direction: row;
   
    flex-direction: row;
    margin-top: 50px;
}
.butoane div{
    background-color: white;
    width: 25px;
    height:25px;
    border-radius: 50%;
    margin-left:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.butoane a {
    text-decoration: none;
    color:white;
}

@media screen and  (max-width: 850px) {
    body {
        background-image:url(background-crew-tablet.jpg) ;
    }
    .navbar_container {
        margin-top: 20px;
    }
    .logo {
        margin-left: 30px;
    }
    .linie {
        width: 50px;

    }
    .linie hr {
        width: 0px;
    }
    .meniu {
        margin-left: 80px;
        margin-top: 10px;
    }
    .right {
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .left {
        width: 100vw;
        height: 50px;
        margin-top: 0;
        margin-left: 0;
      }
    .main_content {
        width: 100vw;
        height: 100px;
        flex-direction:column;
        margin-left: 0;
        padding: 0;
    }
    .randul1 {
        margin-top: 20px;
        margin-left: 30px;
        color: #FFF;
        font-family: Barlow Condensed;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.375px;
        text-transform: uppercase;
    }
    .randul2 {
        text-align: center;
        font-family: Bellefair;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 50px;
        margin-left: 190px;
    }
    .randul3 {
        text-align: center;
        font-family: Bellefair;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin-left: 180px;
    }
    .randul4 {
        text-align: center;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        margin-left: 150px;
        width: 500px;
    }
    .meniu_butoane {
        width: 250px;
        height: 20px;
        margin-left: 350px;
    }
    .left img {
        margin-top: 40px;
        margin-left: 150px;
    }
    .butoane div {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color:grey;
        
     }
     .butoane a {
        color: grey;
     }
     .butoane div :hover {
        background-color: #FFF;
     }
    
}