* {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url( background-technology-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.navbar_container {
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 20px;
}
.linie {
    width: 400px;
    max-width: 50px;
    overflow: visible;
    z-index: 2;
    margin-left: 20%;
}
.logo {
    margin-left: 50px;
}
.linie hr {
    margin-left: 20px;
    width: 500px;
}
.meniu li {
    float: left;
    margin-left: 30px;
}
.meniu ul {
    margin-top: 20px;
    list-style: none;
}
.meniu a {
    color: white;
}
.meniu {
    background:rgba (255, 255, 255, 0.04 ) ;
    backdrop-filter:blur(60.774227142333984px) ;
    height: 50px;
    margin-left: 450px;
}
.meniu div:hover {
    height: 25px;
    border-bottom: 1 px solid aliceblue;
}

.main_content {
    width: 100vw;
    height: 100vh;
    display: flex;

}
.left {
    width: 50%;
    display: flex;
    
}
.tehnology_space_tableta {
    display: none;
}
.Tehnology3 {
    display: flex;
    flex-direction:column;
}
.tehnology_space {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    padding: 150px 0px 0px 100px ;
}
.tehnology_butoane {
    display: flex;
    flex-direction: column;
    margin-top: 100px;

}
.tehnology_butoane div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    border: 1px solid white;
    /* opacity: 0.25; */
    margin-left: 100px;
    
}
.tehnology_butoane a {
    color:white;
    font-size: 32px;
    word-wrap: break-word;
}

.tehnology_butoane_capsule {
    display: flex;
    flex-direction: row;

}
.tehnology_butoane div:hover {
    background-color: #FFF;
}
.tehnology_butoane a:hover {
    color: black;
}
.tehnology_capsule {
    color: #FFF;
    margin-top: 110px;
    margin-left: 50px;
}
.tehnology_the {
    font-size: 10px;
    font-family: Barlow Condensed;
    letter-spacing: 2.70px;
}
.tehnology_the2 {
    margin-top: 20px;
    font-size: 56px;
    font-family: Bellefair;
}
.tehnology_the3 {
    width: 444px; 
    font-size: 15px;
    font-family: Barlow; 
    font-weight: 400; 
    line-height: 32px;
    margin-top: 20px;
}

.right {
    width: 50%;
    
}
.img_tableta {
    display: none;
}
.right img {
    margin-top: 200px;
    margin-left: 440px;
}

@media screen and (max-width:850px) {
    * {
        padding: 0;
        margin: 0;
    }
    body {
        background-image: url(background-technology-tablet.jpg);
    }
    .navbar_container {
        margin-top: 20px;
    }
    .logo {
        margin-left: 30px;
    }
    .linie {
        width: 50px;

    }
    .linie hr {
        width: 0px;
    }
    .meniu {
        margin-left: 80px;
        margin-top: 10px;
    }
    .main_content {
        width: 100vw;
        height: 100px;
        flex-direction:column;
        margin-left: 0;
        padding: 0;
    }
   
    .imgdestop {
        display: none;
    }
    .tehnology_space {
        display: none;
    }

    .img_tableta {
        display: inline;
    }
    .tehnology_space_tableta {
        display: inline;
        /* width: 200px; */
        padding: 0;
        margin-top: 20px;
        margin-left: 50px;
        color:#FFF;
        font-family: Barlow Condensed;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.375px;
    }
    /* .right {
        width: 350px;
        height: 350px;
        background-color: blue;
    } */
    .Tehnology3 {
        display: flex;

    }
    .tehnology_butoane_capsule {
        flex-direction: column;
    }
    .tehnology_butoane {
        flex-direction: row;
    }
    .left {
        width: 100vw;
        margin-left: 100px;
    }
    .right {
        width: 350px;
        height: 200px;
    }
    .img_tableta {
        width: 100vw;
        margin-left: 50px;
        margin-top: 10px;
    }

}